<section>
  <div class="page-header">
    <h1>{{vm.car._id ? 'Ajouter une voiture' : 'Ajouter une voiture'}}</h1>
  </div>
  <div class="pull-right">
    <a ng-show="vm.car._id" class="btn btn-trash" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="col-md-12">
    <form name="vm.form.carForm" class="form-horizontal" ng-submit="vm.save(vm.form.carForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group col-md-12" show-errors>
          <label class="control-label" for="marque">Marque</label>
            <div>
              <select type="text"  ng-model="vm.car.marque">
                <option value="">Sélectionner</option>
                <option data-ng-repeat="mark in vm.marks | orderBy:'markName'" ng-value="mark._id">{{ mark.markName | uppercase  }}</option>
              </select>
              <div ng-messages="vm.form.carForm.markName.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Car mark is required.</p>
              </div>

              <label class="control-label" for="modele">Modele</label>
               <input type="text" name="modele" ng-model="vm.car.modele" id="modele" class="form-control" placeholder="Modele" required>
              <div ng-messages="vm.form.carForm.modele.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Car model is required.</p>
              </div>

              <label class="control-label" for="puissance">Puissance en ch</label>
                <input type="text" name="puissance" ng-model="vm.car.puissance" id="puissance" class="form-control" placeholder="Puissance" required>
              <div ng-messages="vm.form.carForm.puissance.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Car mark is required.</p>
              </div>

              <label class="control-label" for="energie">Energie</label>
                <input type="radio" name="energie" ng-model="vm.car.energie" value = "essence"> Essence
                <input type="radio" name="energie" ng-model="vm.car.energie" value = "diesel"> Diesel
                <input type="radio" name="energie" ng-model="vm.car.energie" value = "electrique"> Electrique
                <input type="radio" name="energie" ng-model="vm.car.energie" value = "gaz"> Gaz
                <input type="radio" name="energie" ng-model="vm.car.energie" value = "hybride"> Hybride
              <div ng-messages="vm.form.carForm.energie.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Car energie is required.</p>
              </div>
              <label class="control-label" for="prix">Prix</label>
                <input type="text" name="prix" ng-model="vm.car.prix" id="prix" class="form-control" placeholder="Prix" required >
              <div ng-messages="vm.form.carForm.prix.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Car model is required.</p>
              </div>





        <div>
          <img ngf-src="config.uploads.carFile.image.dest + vm.car.image" class="img-thumbnail" ngf-drop>
        </div>
        <div ng-show="vm.loading" class="form-group text-center">
          <img ng-src="/modules/core/client/img/loaders/loader.gif" height="50" width="50" alt="Loading image...">
        </div>
        <div ng-show="!vm.fileSelected" class="text-center form-group">
          <button class="btn btn-default btn-file" ngf-select="(vm.fileSelected = true) && (vm.loading = false)" ng-model="vm.image" accept="image/*" ngf-before-model-change="vm.loading = true" ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400">Select Picture</button>
        </div>
        <div ng-show="vm.fileSelected" class="progress text-center">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.progress}}%" ng-bind="vm.progress + '%'">
            <span class="sr-only">{{vm.progress}}% Complete</span>
          </div>
        </div>





            </div>
           <div class="form-group col-md-12">
          <button type="submit" class="btn btn-default">{{vm.car._id ? 'Update' : 'ajouter'}}</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
